# Python artifacts
__pycache__/
*.pyc

# Virtual environment
.venv/
env/

# Environment and secrets
gal_discord_bot/.env
gal_discord_bot/google-creds.json

# Editor settings
.idea/
.vscode/

# Log files
gal_discord_bot/discord.log

# Data storage
gal_discord_bot/persisted_views.json